{% extends "base.html" %}

{% block main %}
                <header class="page-heading clearfix">
                    <h1 class="heading-title float-left">Privacy Policy</h1>
                </header> 
                <div class="page-content">                 
                    <div class="row page-row">                     
                        <div class="privacy-wrapper col-lg-10 col-md-8 col-12">     
                            <div class="page-row">     
                                <p>
                                    Your privacy is important to UnlockedEdu. This privacy statement provides information about the personal information that UnlockedEdu collects, and the ways in which
                                    UnlockedEdu uses that personal information.
                                </p> 
                            </div>         
                            <div class="page-row">                 
                                <h4 class="text-highlight">Credit</h4>
                                <p>
                                    This document was created using a Contractology template available at <a href="http://www.freenetlaw.com/" target="_blank">http://www.freenetlaw.com</a>.
                                </p>
                            </div>
                            
                            <div class="page-row">  
                                <h4 class="text-highlight">Personal information collection</h4>
                                <p>
                                    UnlockedEdu may collect and use the following kinds of personal information:
                                </p>
                                <ul>
                                    <li>information about your use of this website (including geolocation);</li>
                                    <li>information that you provide using for the purpose of registering with the website (including email address, first and last name);</li>
                                    <li>information that you provide for the purpose of subscribing to the website services (including email address, first and last name); and</li>
                                    <li>any other information that you send to UnlockedEdu.</li>
                                </ul>
                            </div>
                            <div class="page-row">  
                                <h4 class="text-highlight">Using personal information</h4>
                                <p>
                                    UnlockedEdu may use your personal information to:
                                </p>
                                <ul>
                                    <li>administer this website;</li>
                                    <li>personalize the website for you;</li>
                                    <li>enable your access to and use of the website services;</li>
                                    <li>send you marketing communications.</li>
                                </ul>
                                <p>
                                    Where UnlockedEdu discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be
                                    obligated to use that personal information in accordance with the terms of this privacy statement.
                                </p>
                                <p>
                                    In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, UnlockedEdu may disclose your personal information to the
                                    extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise
                                    or defend its legal rights.
                                </p>
                            </div>
                            <div class="page-row">  
                                <h4 class="text-highlight">Securing your data</h4>
                                <p>
                                    UnlockedEdu will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
                                </p>
                                <p>
                                    UnlockedEdu will store all the personal information you provide on its secure servers.
                                </p>
                            </div>
                            <div class="page-row">  
                                <h4 class="text-highlight">Cross-border data transfers</h4>
                                <p>
                                    Information that UnlockedEdu collects may be stored and processed in and transferred between any of the countries in which UnlockedEdu operates to enable the use of
                                    the information in accordance with this privacy policy.
                                </p>
                                <p>
                                    In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
                                </p>
                                <p>
                                    You agree to such cross-border transfers of personal information.
                                </p>
                            </div>
                            <div class="page-row">  
                                <h4 class="text-highlight">Updating this statement</h4>
                                <p>
                                    UnlockedEdu may update this privacy policy by posting a new version on this website.
                                </p>
                                <p>
                                    You should check this page occasionally to ensure you are familiar with any changes.
                                </p>
                                <h4 class="text-highlight">Other websites</h4>
                                <p>
                                    This website contains links to other websites.
                                </p>
                            </div>
                        </div><!--//privacy-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
                
{% endblock main %}
