/* ======= Events Page ======= */
.events-wrapper {  
    .events-item {

        .date-label {
            background: $smoky-white;               
        }
        .details {
            .time {
                margin-right: 10px;
            }
            .svg-inline--fa {
                margin-right: 5px;
            }
        }
        
    }

}
    
